Source: ros-hydro-husky-teleop
Section: misc
Priority: extra
Maintainer: Alex Bencz <abencz@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/husky_teleop
Standards-Version: 3.9.2

Package: ros-hydro-husky-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-joy, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Description: Basic node for transforming joystick messages to cmd_vel for Husky.
